@charset "utf-8";
/* ----------------------------------------------------
*   For IE style  ( Width : 960px )
* -------------------------------------------------- */

/*   All    */
body {
	width: 1150x;
	margin: 0px auto; 
}

#wrapp {
	width: 985px;
}


/*   mainContents   */

#mainContents {
	width: 680px;
	float: right;
}

/*  mainNavi   */

#mainNavi {
	float: left;
	width:210px;
}

/*  page footer   */
#footer {
	clear: both;
	width: 960px;
}

