@charset "utf-8";

/*=================================================
* ブラウザのデフォルトのスタイルをリセットする
* ================================================= */

* {
	margin: 0;
	padding: 0;
}

/* clearfix */
*:after {
	display: block;
	clear: both;
}

/* HTMLに対応していないOS対策 */
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

html,
body {
	/*height: 100%;*/

	margin: 0;
	padding: 0;
	-webkit-text-size-adjust:100%;

}

.clear {
	clear: both;
}

a:link {
	color: #15479e;
}

#mainnav a:link {
	color: #333333;
	text-decoration: none;
}

#subnav a:link {
	color: #333333;
	text-decoration: none;
	text-align:center;
}

#subnav a:visited, #mainnav a:visited {
	text-decoration: none;
	color: #333333;
}

a:active {
	color: #333333;
}

li {
	list-style: none;
}

/*=================================================
* サイト全体の基本スタイル
* ================================================= */

body {
	background-color: #e6e6e6;
	font-family: Helvetica, san-serif;
	line-height: 1.6;
	font-size: 14px;
}

img {
	vertical-align: bottom;
}

a {
	text-decoration: underline;
	font-weight: bold;
}

em {
	font-style: normal;
}

hr {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#global-header {
	background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(#ededed));
	background-image: -webkit-linear-gradient(top, white, #ededed);
	background-image: -moz-linear-gradient(top, white, #ededed);
	background-image: -o-linear-gradient(top, white, #ededed);
	background-image: -ms-linear-gradient(top, white, #ededed);
	background-image: linear-gradient(top, white, #ededed);
	

	position: relative;
	width: 100%;
	height: 60px;
	margin-bottom: 0px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #031488;
}



#sub-logo {
	position: absolute;
	top: 32px;
	right: 0;
}


/* セクション、見出し */

.h2-tit-01 {
	background-image: -webkit-gradient(linear, center top, center bottom, from(#1d54b1), to(#113697));
	background-image: -webkit-linear-gradient(top, #1d54b1, #113697);
	background-image: -moz-linear-gradient(top, #1d54b1, #113697);
	background-image: -o-linear-gradient(top, #1d54b1, #113697);
	background-image: -ms-linear-gradient(top, #1d54b1, #113697);
	background-image: linear-gradient(top, #1d54b1, #113697);
	padding-top: 10px;
	padding-bottom: 8px;
	font-size: 16px;
	text-shadow: 0 -1px 0 #002266;
	color: #ffffff;
	padding-left: 10px;
	margin-top: 0px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50);
	text-align:center;
}

.h2-tit-01 a {
	color: #FFFFFF !important;
	text-decoration: none;
}


.menu-page .h1-tit-01 {
	background-image: -webkit-gradient(linear, center top, center bottom, from(#1d54b1), to(#113697));
	background-image: -webkit-linear-gradient(top, #1d54b1, #113697);
	background-image: -moz-linear-gradient(top, #1d54b1, #113697);
	background-image: -o-linear-gradient(top, #1d54b1, #113697);
	background-image: -ms-linear-gradient(top, #1d54b1, #113697);
	background-image: linear-gradient(top, #1d54b1, #113697);
	padding-top: 10px;
	padding-bottom: 8px;
	font-size: 16px;
	text-shadow: 0 -1px 0 #002266;
	color: #ffffff;
	padding-left: 10px;
	margin-top: 0px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50);
	text-align:center;
}

#subnav {
	/*position: absolute;*/
	box-sizing: border-box;
	left:10px;
	right:10px;
	top: 0;
	margin-top: 30px;
	margin-left: 10px;
    margin-right: 10px;
	/*background-color: #dfdfdf;*/
	border-radius: 8px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#subnav ul li a {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;

}

#subnav ul li span {
	margin-left: 17px;
	text-shadow: 0 1px 0 #ffffff;
}

#subnav ul li {
	height: 44px;
	line-height: 48px;
/*	background-color: rgba( 204, 255, 204, 0.55 );*/
	background-color: white;
	background: no-repeat scroll right center, -webkit-gradient(linear, center top, center bottom, from(white), to(#ededed));
	background: no-repeat scroll right center, -webkit-linear-gradient(top,rgba(255,255,255,0.8), #ededed);
	background: no-repeat scroll right center, -moz-linear-gradient(top, rgba(255,255,255,0.8), #ededed);
	background: no-repeat scroll right center, linear-gradient(top, rgba(255,255,255,0.8), #ededed);
	width: 100%;
	font-weight: bold;
	border-bottom: 1px solid #ffffff;
	/*margin-bottom: 1px;*/
}


#subnav ul li:first-child {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #dfdfdf;
}

#subnav ul li {
	border-top: 1px solid #dfdfdf;
}


#subnav ul li:last-child {
	border-top: 1px solid #dfdfdf;
}



#subnav ul li.over span {
	text-shadow: none;

}

#subnav ul li:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#subnav ul li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}

#global-footer{
	/*position:fixed;*/
	bottom:0;
	background-color:#154399;
	width:100%;
}

#global-footer a{
	float:left;
}

#global-footer a img#footer-logo{
	margin-top:2px;
	margin-left:10px;
}
#global-footer img:last-child{
	float:right;
}

#mainnav-wrap {
	background-color: #e6e6e6;
/*
	padding-top: 15px;
	padding-bottom: 15px;
*/
	margin-bottom: 25px;
}

#mainnav {
	background-color: #e0e0e0;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px solid #d3d3d3;
	border-radius: 9px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}

#mainnav ul {
	clear: both;
}

#mainnav ul li a {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	/*	background:url(images/linkicon.gif) no-repeat scroll right center transparent ;*/
	background: url(../images/linkicon.gif) no-repeat scroll right center, -webkit-gradient(linear, center top, center bottom, from(white), to(#ededed));
	background: url(../images/linkicon.gif) no-repeat scroll right center, -webkit-linear-gradient(top, white, #ededed);
	background: url(../images/linkicon.gif) no-repeat scroll right center, -moz-linear-gradient(top, white, #ededed);
	background: url(../images/linkicon.gif) no-repeat scroll right center, linear-gradient(top, white, #ededed);
	width: 100%;
	display: block;
	/*float: left;*/
	font-weight: bold;
	height: 44px;
	line-height: 48px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#mainnav ul li.over a {
	/*	background:url(images/linkicon.gif) no-repeat scroll right center transparent ;*/
	background: url(../images/linkicon_white.gif) no-repeat scroll right center, -webkit-gradient(linear, center top, center bottom, from(#6a6a6a), to(#4f4f4f));
	background: url(../images/linkicon_white.gif) no-repeat scroll right center, -webkit-linear-gradient(top, #6a6a6a, #4f4f4f);
	background: url(../images/linkicon_white.gif) no-repeat scroll right center, -moz-linear-gradient(top, #6a6a6a, #4f4f4f);
	background: url(../images/linkicon_white.gif) no-repeat scroll right center, linear-gradient(top, #6a6a6a, #4f4f4f);
	width: 100%;
	display: block;
	/*float: left;*/
	font-weight: bold;
	height: 44px;
	line-height: 48px;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #FFFFFF;
	margin-bottom: 0 !important;
	padding-bottom: 1px;
}

#mainnav ul li.over span {
	text-shadow: 0 -1px 0 #333333 !important;
}

#mainnav ul li a.typeA {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 1px;
}

#mainnav ul li a.typeB {
	border-bottom: 1px solid #ffffff;
	margin-bottom: 1px;
}

#mainnav ul li a.typeC {
	border-bottom: 1px solid #ffffff;
	margin-bottom: 1px;
}

#mainnav ul li a.typeD {
	border-bottom: 1px solid #ffffff;
	margin-bottom: 1px;
}

#mainnav ul li a.typeE {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#mainnav ul li a.typeF {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


#mainnav ul li a.typeG {
	margin-right: -2px;
}


#mainnav ul li span {
	margin-left: 20px;
	text-shadow: 0 1px 0 #ffffff;
}

#mainnav-wrap .navtit {
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
	margin-top: -7px;
	font-size: 11px;
	text-shadow: 0 1px 0 #FFFFFF;
}

#mainimage img {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.40);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.40);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.40);
}

#products{
	position:relative;
	text-align:center;
}
#products img{
	width:90%;
}


/*=================================================
* 共通スタイル
* ================================================= */

.posiCenter {
	text-align: center !important;
}

.posiLeft {
	text-align: left !important;
}

.posiRight {
	text-align: right !important;
}

.posiCenter img,
.posiLeft img,
.posiRight img {
	display: inline !important;
}

.topMg5 {
	margin-top: 5px !important;
}

.topMg10 {
	margin-top: 10px !important;
}

.topm10 {
	margin-top: 10px !important;
}

.topm15 {
	margin-top: 15px !important;
}

.topm20 {
	margin-top: 20px !important;
}

.topm30 {
	margin-top: 30px !important;
}

.topm40 {
	margin-top: 40px !important;
}

.topm50 {
	margin-top: 50px !important;
}

.topm60 {
	margin-top: 60px !important;
}

.btmMg0 {
	margin-bottom: 0 !important;
}

.btmMg5 {
	margin-bottom: 5px !important;
}

.btmMg10 {
	margin-bottom: 10px !important;
}

.btmMg12 {
	margin-bottom: 12px !important;
}

.btmMg15 {
	margin-bottom: 15px !important;
}

.btmMg20 {
	margin-bottom: 20px !important;
}

.btmMg25 {
	margin-bottom: 25px !important;
}

.btmMg30 {
	margin-bottom: 30px !important;
}

.btmMg35 {
	margin-bottom: 35px !important;
}

.btmMg40 {
	margin-bottom: 40px !important;
}

.btmMg45 {
	margin-bottom: 45px !important;
}

.btmMg50 {
	margin-bottom: 50px !important;
}

.btmMg55 {
	margin-bottom: 55px !important;
}

.indent {
	text-indent: 1em;
}


.sizeXS {
	font-size: 75% !important;
}

.sizeS {
	font-size: 88% !important;
}

.sizeM {
	font-size: 100% !important;
}

.sizeL {
	font-size: 110% !important;
}

.sizeLL {
	font-size: 120% !important;
}

.sizeXL {
	font-size: 130% !important;
}

.sizeXXL {
	font-size: 140% !important;
}

/* ----------------------------------------------------------------
    padding
----------------------------------------------------------------- */

.leftp5 {
	padding-left: 5px;
}

.leftp10 {
	padding-left: 10px;
}

.leftp15 {
	padding-left: 15px;
}

.leftp20 {
	padding-left: 20px;
}

.leftp30 {
	padding-left: 30px;
}

.leftp42 {
	padding-left: 42px;
}

.rightp0 {
	padding-right: 0 !important;
}

.rightp5 {
	padding-right: 5px;
}

.rightp10 {
	padding-right: 10px;
}

.rightp15 {
	padding-right: 15px;
}

.rightp20 {
	padding-right: 20px;
}

.rightp25 {
	padding-right: 25px;
}

.rightp30 {
	padding-right: 30px;
}

.rightp40 {
	padding-right: 40px;
}

.btmp0 {
	padding-bottom: 0 !important;
}

.btmp5 {
	padding-bottom: 5px !important;
}

.btmp10 {
	padding-bottom: 10px !important;
}

.btmp15 {
	padding-bottom: 15px !important;
}

.btmp20 {
	padding-bottom: 20px !important;
}

.nowrap {
	white-space: nowrap;
}

/* clearfix */
.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}

/*=================================================
* 非表示
* ================================================= */
.anchorlink,
.return {
	display: none;
}

/*=================================================
* Form
* ================================================= */
input[type=checkbox]{
	margin-right:2px;
}

