@charset "utf-8";
/* ----------------------------------------------------
* ** ja **  reset style
* -------------------------------------------------- */

/* for new HTML5 elements */
section, article, aside, hgroup, header, footer, nav, figure, figcaption, summary { 
	display: block; 
}

body {
	font-family:  Verdana, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica;
	font-size: 90%;
	line-height: 1.5em;
	margin:0;
	padding:0;
	background:#fafafa;
/* max-width: 1000px; */	
}

#container {
    max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  border-left: #ccc solid 1px;
  border-right: #ccc solid 1px;  
  background: #fff;
}


/* ----   Initiallize    ---- */
ul {
	margin: 0;
	padding: 10px;
}

img {
	border: none;
}

p {
	line-height:1.5em;
	margin: 10px 0;
}

	
.clear {
	clear: both;
}


/* ----------------------------------------------------
/*  subNum     Numの中のNum                                 */
/* -------------------------------------------------- */

.subNum{
	margin: 0;
	padding: 1em;
	list-style:none;
	text-indent:-1.5em;
}

.subNum p{
	padding-top: 0.8em;
	padding-bottom: 0.3em;
}

.button-boder{
	border: #888 solid 2px;
	border-radius:5px;
	padding: 6px 12px;
	margin-right:0.3em;
}

.menu-icon{
	position: relative;
	left: 1.3em;
}

/* ----------------------------------------------------
/*  for link (a)                                         */
/* -------------------------------------------------- */

a{
	color: #006699;
	text-decoration: none;
}

a:link{
	color: #006699;
	text-decoration: none;
}

a:visited{
	color: #006699;
	text-decoration: none;
}

a:hover{
	color: #006699;
	text-decoration: underline;
}



/* ----------------------------------------  */
/* ----    for img       to responsive!   ----  */
/* ---------------------------------------  */

.img_responsive{
	display:block;
	max-width:100%;
	height:auto;
}



/* -------------------------  */
/* ----    header   ----  */
/* -------------------------  */
#webPRNTLogo {
	float: right;
	height: 84px;
	width: 288px;
	margin-right: 10pt;
	margin-bottom: 5pt;
	border: 0;
}

h1 {
	padding-top: 15pt;
	margin-left: 50pt;
	font-size: 160%;
	color: #555;
	text-shadow: 1px 1px 2px #aaa;
	-ms-text-shadow: 3px 3px 3px #aaa;
	
}

#naviArrowSection {
	padding-left: 10px;
}

.naviToggle{
	font-size:0.85em;
	text-decoration:none;
	padding-left:1em;
}

.naviToggle:before {
	text-decoration:none;
    font-family: 'FontAwesome','Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    content:"\f04b";
	color:#B8DAF0;
	font-size:0.85em;
	padding-right:0.5em;
	font-weight:normal;
}



h5 {
	margin: 30px 0px 2px 5px;
	padding: 0 0 2px 18px;
	background-image: url('../illust/BlueSquare5.png');
	background-position: 0px 6px;
	background-repeat: no-repeat;
	color: #333;
	font-size: 80%;
}


.summary h5{
	margin: 10px 0px 2px 5px;
}


/* -------------------------  */
/* ---- page footer    ---- */
/* -------------------------  */
#footer {
	clear: both;
	margin: 0;
	width: 100%;
}

#copyright {
	text-align: right;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	font-style:italic;
	font-size: 80%;
	color:#666666;
}

#footer a{
	color: gray;
	text-decoration: none;
}

#footer a:link{
	color: gray;
	text-decoration: none;
}

#footer a:visited{
	color: gray;
	text-decoration: none;
}

#footer a:hover{
	color: gray;
	text-decoration: underline;
}






/* -------------------------  */
/*    wrapp                      */
/* -------------------------  */
 

#wrapp {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -ms-flexbox;

}


/* -------------------------  */
/*   mainContents   */
/* -------------------------  */

#mainContents {
	margin: 5px 25px 25px 25px;
	padding-right: 25px;
	box-flex: 1;
	box-ordinal-group: 2;
	-webkit-box-flex: 1;
	-webkit-box-ordinal-group: 2;
	-moz-box-flex: 1;
	-moz-box-ordinal-group: 2;
	-ms-box-flex: 1;
	-ms-flex-order:: 2;
}

h2 {
	margin: 10px 10px 15px 0px;
	padding: 10px 0 10px 5px;
	border-bottom: solid 1px #265d7f;
	color: #333;
	font-size: 150%;
	font-weight:bold;
}

h3 {
	margin: 15px 0px 15px 0px;
	padding: 30px 0 10px 5px;
	border-bottom: solid 1px #bbb;
	color: #333;
	font-size: 1.5em;
	line-height:1.5em;
	font-weight:bold;
}

h4 {
	margin: 30px 0px 2px 0px;
	padding: 0 0 2px 18px;
	background-image: url('../illust/BlueSquare4.png');
	background-position: 0px 6px;
	background-repeat: no-repeat;
	color: #333;
	font-weight:bold;
}

#howToUse h4{
    margin: 50px 0px 5px 0px;
	font-size:1.2em;
}

.introduction_2 {
	margin: 20px 15px;
}

.introduction_3 {
	margin: 20px 15px 30px;
}


.syntax p {
	color: #265d7f;
	font-weight: bold;
	margin: 10px 15px 30px;
}

.coder ul {
	margin: 0 30px;
	line-height: 1.5;
	padding: 0;
	list-style-type: disc;
}

/* -------------------------  */
/*  mainNavi   */
/* -------------------------  */

#mainNavi {
	width:210px;
	margin: 10px;
	background-color: #fff;
	box-ordinal-group: 1;
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-box-ordinal-group: 1;

}

#mainNavi h5 {
	margin: 1em 0em 0em 0.5em;
	font-size:100%;
	color: #555;
}	

#mainNavi li {
	font-size: 80%;
	line-height: 1.3em;
	padding-left: 20px;
	margin-top: 0.2em;
	margin-bottom:0.2em;
	border-bottom: dotted 1px #ccc;
	list-style-type:none;
	
}

#mainNavi li:first-child {
	padding-left: 8px;
}




/* -------------------------  */
/*  Class  to_top              */
/* -------------------------  */

.to_top   {
	margin: 40px 30px 60px 0;
	text-align: right;
	padding-right: 30px;
	font-style:italic;
	font-size: 80%;
	color:#666666;

	
}

/* -------------------------  */
/*   Cases   事案 表題           */
/* -------------------------  */
.cases{
	padding:10px 20px;
	font-size:1em;
	line-height:1.2em;
	color:#333;
	border:#CFCFCF 1px solid;
	border-left: #F9CF1B 5px solid;
	border-left: #00a7db 5px solid;
	border-radius:5px;
}

.cases_contents{
	padding:10px 20px;
}

.cases_subTitle{
	font-weight:bold;
	margin-top:1em;
}

.cases_subTitle:before{
    font-family: 'FontAwesome','Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    content:"\f0c8";
	color:#F9CF1B;
	color:#00a7db;
	font-size:0.9em;
	padding-right:0.3em;
	font-weight:normal;
}

.warning_contents{
	border-left: #F9CF1B 5px solid;
}	

.cases strong{
	margin-bottom: 1.5em;
}

/* -------------------------  */
/*   Restrictions   事案 表題           */
/* -------------------------  */
.restrictions{
	padding:10px 20px;
	font-size:1.1em;
	line-height:1.2em;
	color:#333;
	border:#CFCFCF 1px solid;
	border-left: #FD0004 5px solid;
	border-radius:5px;
}

.restrictions_subTitle{
	font-weight:bold;
	font-size:1.1em;
	margin-top:1em;
}

.restrictions_subTitle:before{
    font-family: 'FontAwesome','Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    content:"\f0c8";
	color:#FD0004;
	font-size:0.9em;
	padding-right:0.3em;
	font-weight:normal;
}


.lead-text{
	font-size:1.05em;
	line-height:1.5em;
	padding-top: 2em;
	padding-bottom: 2em;
}


/* -------------------------  */
/*  Class  numOperation   */
/*  .note ｐにつける			*/
/*　.note2　divにつけてｐを括る、”*１ ”に合う	*/
/*　.note3　divにつけてｐを括る、”(*1) ”に合う	*/
/* -------------------------  */

/*.numOperation{
	border:#EEE 5px solid;
	border-radius:3em;
	padding:2em 1em;
}*/

.numOperation li {
	margin-top: 25px;
	margin-left: 30px;
	
}

.note {
	margin-left: 20px;
	margin-top: 8px;
	font-size: 80%;
	line-height: 1.5em;
	text-indent: -1em;
}

.note2 p {
	margin: 4px 0 4px 25px;
	font-size: 80%;
	line-height: 1.5em;
	text-indent: -1em;
}

.note2 p:first-child{
	margin-top: 8px;
}

.note2 p:last-child{
	margin-bottom: 20px;
}

.note3 p {
	margin: 5px 0 5px 38px;
	font-size: 80%;
	line-height: 1.5em;
	text-indent: -2.6em;
}

.note3 p:first-child{
	margin-top: 8px;
}

.note3 p:last-child{
	margin-bottom: 20px;
}



.numOpeFig {
	margin-top: 8px;
}

.numOpeFig2 {
	margin: 8px 0;
    display: table-cell;
    vertical-align: top;
    border: #666 solid 1px;
}


.sub_read {
    margin-left: 1.5em;
}


/* ----------------------------------  */
/*  pre (for sample program)         */
/* ---------------------------------  */

pre {
	width: 100%; 
	margin-bottom:20px;
	border:1px solid #999;
	border-radius:5px;
	padding:13px;
	font-family: Courier,"Courier New",monospace;
	font-size:88%;
	line-height: 1.4em;
	background-color: #FCFCFC;
	color: #000;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
	box-shadow: 0 1px 1px #CCC;
}

/* -------------------------------------  */
/*   index.html mainIntroduction     */
/* -------------------------------------  */

#mainIntroduction p{
	margin: 5px 25px 25px 25px;
}


#conceptIllust {
	margin: 30px 0;
}

#AsuraCPRNTconceptIllust {
	margin: 30px 0;
}


.conceptDescription li {
	margin-top : 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 30px;
	padding-left: 10px;
}

.concept a{
	color: black;
	text-decoration: none;
}

.concept a:hover{
	background-color: #e5f0ff;
}


/*--------------------
infoBox noteBox    Style
-------------------*/
.infoBox {
	margin: 3em auto;
	padding:1em 1.3em ;
}
.infoBox p{
	padding: 0.5em 0 0.5em 1.1em;
}


.noteBox{
	/*background-color: #FFFBD8;*/
	border-radius: 20px;
	border:#CEF7A2 solid 3px;
}

.noteBox2{
	border-radius: 10px;
}


.noteTitle{
	font-weight:bold;
	font-size:1.3em;
	margin-top:1em;
	margin-left:1em;
}

.noteTitle:before{
    font-family: 'FontAwesome','Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    content:"\f040";
	color:#8aed20;
	font-size:1.3em;
	padding-right:0.3em;
	font-weight:normal;
}



/* --------------------------------------------------
   coder Table    
-------------------------------------------------- */
.coder {
    margin-left: 0px;
    font-size: 90%;
    text-align: top;
    min-width: 80%;
    border-spacing: 0;
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
    box-shadow: 0 1px 1px #CCC;	
}
.coder thead,
.coder td {
    padding-top:3px;
    padding-left:8px;
    padding-right:8px;
    padding-bottom:3px;
    border-bottom:solid 1px #aaa;
    border-right:solid 1px #aaa;
}
.coder thead {
    font-weight: bold;
    vertical-align: top;
    background:#F0F8FF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}



/* -----------------------
  left-top
----------------------- */

.coder tr:first-child th:first-child,
.coder tr:first-child td:first-child {
    -webkit-border-radius: 5px 0 0 0;
       -moz-border-radius: 5px 0 0 0;
         -o-border-radius: 5px 0 0 0;
            border-radius: 5px 0 0 0;
}
/* -----------------------
  right-top
----------------------- */
.coder tr:first-child th:last-child,
.coder tr:first-child td:last-child {
    -webkit-border-radius: 0 5px 0 0;
       -moz-border-radius: 0 5px 0 0;
         -o-border-radius: 0 5px 0 0;
            border-radius: 0 5px 0 0;
}
/* -----------------------
 left-bottom
----------------------- */
.coder tr:last-child th:first-child,
.coder tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 5px;
       -moz-border-radius: 0 0 0 5px;
         -o-border-radius: 0 0 0 5px;
            border-radius: 0 0 0 5px;
}
/* -----------------------
  right-bottom
----------------------- */
.coder tr:last-child th:last-child,
.coder tr:last-child td:last-child {
    -webkit-border-radius: 0 0 5px 0;
       -moz-border-radius: 0 0 5px 0;
         -o-border-radius: 0 0 5px 0;
            border-radius: 0 0 5px 0;
}
/* --------------------------------------------
  thaed,tbody
-------------------------------------------- */

.coder thead th {background-color:#F0F8FF;}
.coder thead+tbody th {background:#f4ede6;}
.coder tbody th {text-align:left;}/*IE*/
/* -----------------------
  left-top thead
----------------------- */

.coder thead tr:first-child th:first-child,
.coder thead tr:first-child td:first-child {
    -webkit-border-radius: 5px 0 0 0;
       -moz-border-radius: 5px 0 0 0;
         -o-border-radius: 5px 0 0 0;
            border-radius: 5px 0 0 0;
}
/* -----------------------
  right-top thead
----------------------- */
.coder thead tr:first-child th:last-child,
.coder thead tr:first-child td:last-child {
    -webkit-border-radius: 0 5px 0 0;
       -moz-border-radius: 0 5px 0 0;
         -o-border-radius: 0 5px 0 0;
            border-radius: 0 5px 0 0;
}
/* -----------------------
  thaed after tbody
----------------------- */
.coder thead+tbody tr:first-child th:first-child,
.coder thead+tbody tr:first-child td:first-child,
.coder thead+tbody tr:first-child th:last-child,
.coder thead+tbody tr:first-child td:last-child {
    -webkit-border-radius:0px;
       -moz-border-radius:0px;
         -o-border-radius:0px;
            border-radius:0px;
}
/* -----------------------
  left-bottom thaed after tbody
----------------------- */
.coder thead+tbody tr:last-child th:first-child,
.coder thead+tbody tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 5px;
       -moz-border-radius: 0 0 0 5px;
         -o-border-radius: 0 0 0 5px;
            border-radius: 0 0 0 5px;
}
/* -----------------------
  right-bottom thaed after  tbody
----------------------- */
.coder thead+tbody tr:last-child th:last-child,
.coder thead+tbody tr:last-child td:last-child {
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	-o-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
	/*text-align: center;*/
}           


/* --------------------------------------------------
   List Table：ヘッダは縦横とも中央寄せ
   List1:全部左寄せ
   List2:一番左の列のみ左寄せ、他は中央寄せ
   List3:左側2列左寄せ、他は中央寄せ   
   List4:全部中央寄せ
-------------------------------------------------- */
.List1 {
	text-align:left;
}

.List2, .List3, .List4{
	text-align:center;
}

.List1, .List2, .List3, .List4{
    margin-left: 0px;
    font-size: 90%;
	vertical-align:middle;
    min-width: 80%;
    border-spacing: 0;
    border: 1px solid #aaa;
            border-radius: 5px;
}

.List1 thead, .List1 td, .List2 thead, .List2 td, .List3 thead, .List3 td, .List4 thead, .List4 td  {
    padding: 3px 10px;
    border-bottom:solid 1px #aaa;
    border-right:solid 1px #aaa;
	vertical-align:middle;
}


.List2 tr :first-child {
	text-align:left;
}

.List3 tr :first-child, .List3 tr :nth-child(2) {
	text-align:left;
}


.List1 thead, .List2 thead, .List3 thead, .List4 thead  {
    font-weight: bold;
	text-align:center;
	vertical-align:middle;
    background:#F0F8FF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.List2 thead :first-child {
	text-align:center;
}

.List3 thead :first-child, .List3 thead :nth-child(2) {
	text-align:center;
}



/*----------------------------------------------------------------------
/*        linkList   #How to use のリンクリスト (Sample Program)
/*-----------------------------------------------------------------------*/
.linkList li{
	color: #333;
	list-style:none;
	font-size:1.1em;
	line-height:1.9em;
}

.linkList li:before{
    font-family: 'FontAwesome','Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	content:"\f0a9";
	color:#8FC5E7;
	font-size:1.2em;
	padding-right:0.5em;
	padding-bottom:0.5em;
}

.linkList a:hover{
	text-decoration:none;
}


/*-------------------------------------------------------------------------
/* text-link　文中のテキストにリンクを張る場合使用　先頭に黄色矢印配置 */
/*-------------------------------------------------------------------------

/*   .contents-tableページの始めにおく しおり的リンク に使用   左マージン1em 先頭に紺矢印配置 */
.contents-table a:link{
	color: #555;
}
.contents-table a:visited{
	color: #555;
}

.contents-table a:hover{
	text-decoration:none;
}


.contents-table{
	padding-left:1em;
	color:#555;
}
.contents-table:before{
	font-family: 'FontAwesome','Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, Helvetica, sans-serif;
	content: "\f0a9  ";
	color: #f6b436;
	padding-top:1em;
}
.contents-table:hover{
	color:#222;
}
